*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: max(100%, 1000px);
}

a {
  text-decoration: none;
  color: #fff;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
