*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html, body{
  height: 100%;
  width: max(100%, 1000px);
}

a {
  text-decoration: none;
  color: #fff;
}