.playlist {
  position: absolute;
  left: 30px;
  top: 80px;
  width: calc(100% - 30px);
  height: calc(100vh - 200px);
  overflow-y: scroll;

  .header {
    display: flex;
    gap: 1rem;

    &__img {
      width: 192px;
      height: 192px;
      position: relative;

      img {
        object-fit: cover;
      }
    }

    &__info {
      align-self: flex-end;

      .details {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.8125rem;

        .owner {
          &__img {
            width: 32px;
            height: 32px;
            position: relative;

            img {
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
