.track.hoverable {
  .play_icon,
  .pause_icon {
    display: none;
  }

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);

    .play_icon,
    .pause_icon {
      display: block;
    }
    .order_num {
      display: none;
    }
  }

  &[aria-selected="true"] {
    .track_name,
    .pause_icon,
    .order_num {
      color: #1ed760;
    }

    &:hover {
      .play_icon,
      .pause_icon {
        display: block;
      }
      .order_num {
        display: none;
      }
    }
  }
}

.track {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: [index] 16px [title] 6fr [album] 4fr [date_added] 3fr [length] minmax(
      120px,
      1fr
    );
  height: 56px;
  border-radius: 4px;
  padding-left: 1rem;

  > div {
    display: flex;
    align-items: center;
  }

  .order {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .title {
    > span {
      margin-right: 1rem;
    }

    .details {
      .one_line {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 400;
      }

      .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .artists {
        display: flex;
        align-items: center;

        a {
          color: #b3b3b3;
          font-weight: 500;
          font-size: 0.875rem;
        }
      }
    }
  }
  a {
    white-space: nowrap;
    width: max-content;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
